<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>💬일기장쓰기</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
    .ck.ck-editor {
        max-width: 500px;
    }
    .ck-editor__editable {
        min-height: 300px;
    }
    #title {
        margin: 0 auto;
    }
</style>
</head>
<body>
    <form action="/write" method="post" id="mrForm">
        <div class="mainText">
            <div>
                <label>
                    제목
                    <input type="text" name="title" id="title">
                </label>
            </div>
            <div>
                <label>
                    작성자
                    <input type="text" name="writer" id="writer">
                </label>
            </div>
            <div>
                <label for="imagePath">이미지</label>
                <input type="file" name="imagePath" id="imagePath" multiple="multiple">
            </div>
            <textarea name="content" id="editor"></textarea>
            <button onclick="validate()">등록</button>
            <button onclick="location.href='/'">홈</button>
        </div>
    </form>

    <script>
        var myEditor;
        ClassicEditor
        .create( document.querySelector( '#editor' ), {
            // 제거 하고싶은 플러그인 (배열)
            removePlugins: [ 'ImageUpload' ]
        } )
        .catch( error => {
            console.error( error );
        } );

        function validate() {
            var mrForm = document.getElementById("#mrForm");
            mrForm.submit();
        }
    </script>
</body>
</html>